/**
 * Grid editor styling
 *
 * This file is for CSS admin overrides only.
 * Use style.css for shared theme/editor block styling.
 */
@import "./*style.css";

.grd__grid--has-media {
	& figure > * {
		width: 100% !important;
		height: 100% !important;
	}
	& .components-resizable-box__handle {
		display: none;
	}
}
.grd__item {
	& figure > * {
		max-width: 100% !important;
	}
}
