/**
 * Grid shared block styling
 *
 * This file gets shared between the
 * theme and editor.
 */

.grd {
	box-shadow: 0 0 0 100vw oklch(92% 0.15 170 / 0.4) inset;
	display: grid;
	grid-template-columns: repeat(var(--grd-count), 1fr);
	grid-gap: var(--grd-gap-y, 0) var(--grd-gap-x, 0);
	grid-auto-rows: var(--grd-rows, auto);
	@media (max-width: 479px) {
		--grd-count: var(--grd-count-sm);
	}
	@media (min-width: 480px) and (max-width: 781px) {
		--grd-count: var(--grd-count-md);
	}
	@media (min-width: 782px) {
		--grd-count: var(--grd-count-lg);
	}
}
.grd__item {
	grid-column: span var(--grd-span, 1);
	&:not([style*="--grd-span"]) {
		aspect-ratio: var(--grd-aspect, auto);
	}
}
