/**
 * Grid block editor styling
 *
 * Defines block editor styling. All editor.css files
 * like this one load globally within the back-end
 * block editor. You can import related view.css files
 * here for front-end styling in the back-end block editor.
 */
@import "./*view.css";

.grd__item {
	min-height: 1em;
	figure > * {
		max-width: 100% !important;
	}
}
.grd__item--video,
.grd__item--image {
	&:is(.is-selected, .has-child-selected) {
		overflow: visible;
		position: relative;
		z-index: 10;
	}
	figure > * {
		width: 100% !important;
		height: 100% !important;
	}
	.components-resizable-box__handle {
		display: none !important;
	}
}
.grd__item--invalid {
	outline: 1px dotted var(--wp--preset--color--vivid-red, red);
	&::after {
		content: "spans too many columns";
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		inset: 0;
		background: var(--wp--preset--color--vivid-red, red);
		color: var(--wp--preset--color--white, white);
		opacity: 0.9;
	}
}
