/**
 * Extended animation shared block styling.
 */

/* load all dependencies */
@import "./styles/ani-*.css";

/* common default animation custom properties */
:root {
	/* prettier-ignore */
	--ani-duration: calc(var(--ani-speed, 0.375s) * 2); /* speed of transition effects */
	--ani-timing-function: var(--ani-ease, ease);
	--ani-delay-increment: 0; /* integer for stepped animations */
	--ani-delay-factor: 0.05s; /* duration of each increment step */
	--ani-delay-offset: 0.15s; /* start delay (so ani don't start at very bottom of screen) */
}
