/**
 * Extended animation shared block styling.
 */

/* animate items when they enter the viewport */
@import "./styles/ani-viewport.css";

/* animate items on scroll (scrubs animation as you scroll) */
@import "./styles/ani-scroll.css";

/* animate backgrounds (like background-attachment:fixed) and foregrounds (like position:fixed popup) */
@import "./styles/ani-background.css";

/* common default animation custom properties */
:root {
	/* prettier-ignore */
	--ani-duration: calc(var(--ani-speed, 0.375s) * 2); /* speed of transition effects */
	--ani-timing-function: var(--ani-ease, ease);
	--ani-delay-increment: 0; /* integer for stepped animations */
	--ani-delay-factor: 0.05s; /* duration of each increment step */
	--ani-delay-offset: 0.15s; /* start delay (so ani don't start at very bottom of screen) */
}
