/**
 * Core theme styling
 *
 * High level stuff goes here, like
 * custom properites, @keyframes, etc.
 */
@import "./variables.css";
@import "./fonts.css";
@import "./animations.css";
@import "./alignment.css";
@import "./normalize/*.css";
