/**
 * Inline Paragraph editor styling
 *
 * This file is for CSS admin overrides only.
 * Use style.css for shared theme/editor block styling.
 */
@import "./style.css";

.inline-paragraph {
	margin-bottom: 1em;

	&:not(.is-selected):not(.has-child-selected) {
		& [data-rich-text-placeholder] {
			display: none !important;
		}

		& .block-editor-inner-blocks .block-editor-block-list__layout {
			& * {
				display: inline !important;
			}
		}
	}
}
