{
	"extends": ["wesbos"],
	"rules": {
		"no-console": 2,
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"import/no-extraneous-dependencies": "off",
		"no-undef": "off",
		"react/prop-types": "off"
	}
}
