{
	"extends": ["wesbos"],
	"rules": {
		"no-console": 2,
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"packageDir": "./",
				"bundledDependencies": false
			}
		],
		"arrow-body-style": "off",
		"import/no-unresolved": [2, { "ignore": ["^@wordpress/.*$"] }],
		"no-undef": "off",
		"react/prop-types": "off"
	}
}
