/**
 * Admin screen styling.
 */

/* ACF spacing settings visualization */
.aquamin-spacing .acf-checkbox-list {
	max-width: 500px;
}
.aquamin-spacing .acf-checkbox-list > li {
	padding: 4px;
	border: 0;
}
.aquamin-spacing li:nth-of-type(1) {
	background-color: #eee;
	border-bottom: 1px dashed #ccc;
	box-shadow: 0 10px 25px #fff inset;
}
.aquamin-spacing li:nth-of-type(2) {
	padding-bottom: 0;
	background-color: #ddd;
}
.aquamin-spacing li:nth-of-type(2):after {
	content: "Example Module Content";
	display: block;
	padding: 15px 7px 2px;
	font-size: 10px;
	line-height: 1.2;
	color: #aaa;
	pointer-events: none;
	font-weight: bold;
	font-style: italic;
}
.aquamin-spacing li:nth-of-type(3):before {
	/* stylelint-disable */
	content: "Lorem ipsum dolor sit amet consectetur adipiscing elit tristique,faucibus tellus non erat turpis justo ante commodo, etiam gravida mi eu donec in nam. Semper blandit faucibus cras nec orci volutpat accumsan platea mauris quisque magnis, elementum praesent aliquet risus imperdiet lorem massa habitant nam vulputate, malesuada at.";
	/* stylelint-enable */
	display: block;
	padding: 0 7px 15px;
	font-size: 9px;
	line-height: 1.2;
	color: #aaa;
	pointer-events: none;
	font-style: italic;
}
.aquamin-spacing li:nth-of-type(3) {
	padding-top: 0;
	background-color: #ddd;
}
.aquamin-spacing li:nth-of-type(4) {
	background-color: #eee;
	border-top: 1px dashed #ccc;
	box-shadow: 0 -10px 25px #fff inset;
}