.site-main {
	padding-top: var(--h-menu);
}
.site-menu {
	position: fixed;
	height: var(--h-menu);
	& ul,
	& li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* push content below sticky menu */
.site-main {
	padding-top: var(--h-menu);
}
.site-menu {
	height: var(--h-menu);
}
