/**
 * Extended column shared block styling.
 */

/**
 * Responsive device hiding
 */

/* hide anything phone and below */
@media (max-width: 480px) {
	.hide-bp-sm {
		display: none !important;
		& + .wp-block-column:not(.block-editor-block-list__block) {
			/* force adjacent columns to fill the void */
			flex-basis: 100% !important;
		}
	}
}
/* hide anything tablet and below */
@media (max-width: 768px) {
	.hide-bp-md {
		display: none !important;
		& + .wp-block-column:not(.block-editor-block-list__block) {
			/* force adjacent columns to fill the void */
			flex-basis: 100% !important;
		}
	}
}
/* hide anything laptop and below */
@media (max-width: 1280px) {
	.hide-bp-lg {
		display: none !important;
		& + .wp-block-column:not(.block-editor-block-list__block) {
			/* force adjacent columns to fill the void */
			flex-basis: 100% !important;
		}
	}
}
/* hide anything above tablet */
@media (min-width: 769px) {
	.hide-bp-md-up {
		display: none !important;
		& + .wp-block-column:not(.block-editor-block-list__block) {
			/* force adjacent columns to fill the void */
			flex-basis: 100% !important;
		}
	}
}

.is-full-md {
	&.wp-block-column.wp-block-column.wp-block-column {
		@media (max-width: 768px) {
			flex-basis: calc(150% - 1em) !important;
			margin-left: 0;
		}
	}
}

.is-first-md {
	@media (max-width: 781px) {
		/* for specificity */
		&.is-first-md {
			order: -1;
			margin-bottom: var(--sp);
		}
	}
}
