/**
 * Responsive device faux hiding
 */
@import "./style.css";

/* hide anything phone and below */
.hide-bp-sm {
	@media (max-width: 480px) {
		display: inline-block !important;
		outline: 1px dashed red;
		& > * {
			opacity: 0.25;
		}
		&::before {
			content: " (hidden at this screen size) ";
			position: absolute;
			font-size: 12px;
			color: white;
			line-height: 1.1;
			background-color: red;
		}
	}
}

/* hide anything tablet and below */
.hide-bp-md {
	@media (max-width: 768px) {
		display: inline-block !important;
		outline: 1px dashed red;
		& > * {
			opacity: 0.25;
		}
		&::before {
			content: " (hidden at this screen size) ";
			position: absolute;
			font-size: 12px;
			color: white;
			line-height: 1.1;
			background-color: red;
		}
	}
}

/* hide anything laptop and below */
.hide-bp-lg {
	@media (max-width: 1280px) {
		display: inline-block !important;
		outline: 1px dashed red;
		& > * {
			opacity: 0.25;
		}
		&::before {
			content: " (hidden at this screen size) ";
			position: absolute;
			font-size: 12px;
			color: white;
			line-height: 1.1;
			background-color: red;
		}
	}
}

/* hide anything above tablet */
.hide-bp-md-up {
	@media (min-width: 770px) {
		display: inline-block !important;
		outline: 1px dashed red;
		& > * {
			opacity: 0.25;
		}
		&::before {
			content: " (hidden at this screen size) ";
			position: absolute;
			font-size: 12px;
			color: white;
			line-height: 1.1;
			background-color: red;
		}
	}
}
