/**
 * Extended column shared block styling.
 */
.is-full-md {
	&.wp-block-column.wp-block-column.wp-block-column {
		@media (max-width: 768px) {
			flex-basis: calc(150% - 1em) !important;
			margin-left: 0;
		}
	}
}

.is-first-md {
	@media (max-width: 781px) {
		/* for specificity */
		&.is-first-md {
			order: -1;
		}
	}
}
