@import "./color_schemes/dark";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Signika:wght@700&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

$heading-font-family: "Signika", sans-serif;

$body-font-family: "Vollkorn", serif;
$blue-000: hsl((214-55), 95%, (58%+5%));
$blue-100: hsl((219-55), 79%, (53%+5%));
$blue-200: hsl((223-55), 64%, (42%+5%));
$blue-300: hsl((226-55), 69%, (31%+5%));
$blue-400: lighten(desaturate($blue-300, 50%), 20%);
$base-button-color: $grey-dk-200;
$btn-primary-color: $blue-200;
$link-color: $blue-400;

body :is(h1, h2, h3, h4, h5, h6) {
  font-family: $heading-font-family, sans-serif;
  color: $blue-200;
}
.main-content blockquote {
  padding: 0.15em 0.75em;
  background-color: $code-background-color;
  border-left-color: $blue-300;
  border-radius: 0 4px 4px 0;
  & code {
    background-color:  $grey-dk-300;
  }
}
.nav-list-link {
  color: $white;
}
.nav-list .nav-list-item > .nav-list .nav-list-item a.nav-list-link {
  color: $blue-400;
}
.text-delta, body :is(h3, h4, h5, h6) {
  color: $grey-dk-000;
}
