/**
 * Global Modifications
 *
 * Table of Contents:
 *
 * Layout
 * Text
 * Background/Frames/Overlays
 * Special/Non-Reusable
 */

/**
 * Layout
 */

//  horizontal
.mod--inner {
	@extend %mod--inner; // find in _extends (provides better cascade)
}
%mod--inner-pad, .mod--inner-pad {
	@extend %mod--inner; // find in _extends (provides better cascade)
	@extend %mod--pad-sides;
}
%mod--pad-sides, .mod--pad-sides {
	padding: { left: $gap; right: $gap; }
}

// vertical
%mod--margin-top, .mod--margin-top {
	margin-top: $gap--margin-top;
	@media (max-width: $bp-md--mid){
		margin-top: $gap--sm-margin-top;
	}
	@media (max-width: $bp-sm--max) {}
}
%mod--padding-top, .mod--padding-top {
	padding-top: $gap--padding-top;
	@media (max-width: $bp-md--mid){
		padding-top: $gap--sm-padding-top;
	}
}
%mod--padding-bottom, .mod--padding-bottom {
	padding-bottom: $gap--padding-bottom;
	@media (max-width: $bp-md--mid){
		padding-bottom: $gap--sm-padding-bottom;
	}
}
%mod--margin-bottom, .mod--margin-bottom {
	margin-bottom: $gap--margin-bottom;
	@media (max-width: $bp-md--mid){
		margin-bottom: $gap--sm-margin-bottom;
	}
}

/**
 * Text
 */
%mod--text-invert, .mod--text-invert {
	&,
	h1, h2, h3, h4, h5, h6,
	blockquote,
	hr {
		color: $color-light;
	}
}
%mod--align-center, .mod--align-center  {
	text-align: center;
}
%mod--align-right, .mod--align-right  {
	text-align: right;
}
%mod--align-left, .mod--align-left {
	text-align: left;
}
%mod--align-full, .mod--align-full  {
	display: block;
}
.mod--nowrap {
	white-space: nowrap;
}

/**
 * Background/Frames/Overlays
 */
// :root {
//     --color-bg: #{$color-light};
// }
// %mod--bg-light-gray, .mod--bg-light-gray {
// 	background-color: $color-1;
// 	--color-bg: #{$color-1};
// }
// %mod--bg-dark-gray, .mod--bg-dark-gray {
// 	background-color: $color-drab--dark;
// 	--color-bg: #{$color-drab--dark};
// }
// [class*="mod--bg-dark"] {
// 	@extend %mod--text-invert;
// }

/**
 * Special/Non-Reusable
 */