/**
 * (╯°□°）╯︵ ┻━┻
 */

/**
 * Body Breakpoint Debugger
 */
[id^="things-list-"] {
    &:not(:hover) > li > a {display: none !important;}
    &:before {content:"max (over #{$bp-lg--max})";width:100%;color:#fff;padding-left:5px;font-size:10px;float:left;}
    @media (max-width: $bp-lg--max){ &:before { content: "$bp-lg--max (#{$bp-lg--max})"}}
    @media (max-width: $bp-lg--mid){ &:before { content: "$bp-lg--mid (#{$bp-lg--mid})"}}
    @media (max-width: $bp-lg--min){ &:before { content: "$bp-lg--min (#{$bp-lg--min})"}}

    @media (max-width: $bp-md--max){ &:before { content: "$bp-md--max (#{$bp-md--max})"}}
    @media (max-width: $bp-md--mid){ &:before { content: "$bp-md--mid (#{$bp-md--mid})"}}
    @media (max-width: $bp-md--min){ &:before { content: "$bp-md--min (#{$bp-md--min})"}}

    @media (max-width: $bp-sm--max){ &:before { content: "$bp-sm--max (#{$bp-sm--max})"}}
    @media (max-width: $bp-sm--mid){ &:before { content: "$bp-sm--mid (#{$bp-sm--mid})"}}
    @media (max-width: $bp-sm--min){ &:before { content: "$bp-sm--min (#{$bp-sm--min})"}}
}

/**
 * Browsersync Restyle
 */
#__bs_notify__ {
    opacity: .8;
    bottom: 0;
    left: 0;
    right: auto !important;
    top: auto !important;
    border-radius: 0 10px 0 0 !important;
    transform: scale(.6);
    transform-origin: 0 100%;
    background-color: mediumaquamarine !important;
}

/**
 * Preview Overlay
 */
#pix2pix { max-width: none !important; }

/**
 * Show Possible Bum Links
 */
// [href*="#"]{ /*TEMP*/box-shadow:0 0 0 1px rgba(aquamarine,.5) inset !important;background-color:rgba(aquamarine,.5) !important; }
