/**
 * Variables

 * Table of Contents:

 * Colors
 * Text Styling
 * Layout
 * Breakpoints
 */

/**
 * Colors
 *
 * note: spaces in names for sublime
 * color highlighting ignore
 */

// p r i m a r y
$color-1:               aquamarine;
$color-1--light:        lighten($color-1, 15%);
$color-1--dark:         darken($color-1, 15%);

// s e c o n d a r y
$color-2:               teal;
$color-2--light:        lighten($color-2, 15%);
$color-2--dark:         darken($color-2, 15%);

// d r a b
$color-drab:            gray;
$color-drab--light:     lighten($color-drab, 15%);
$color-drab--dark:      darken($color-drab, 15%);

// alert colors
$color-good:            green;
$color-bad:             red;
$color-meh:             yellow;

// standard colors
$color-light:           #fff;
$color-dark:            #000;

/**
 * Text Styling
 */
// global font size (will add px before use)
$font-size:             16;
// $font-size--tablet:     17; // remains constant in design
// $font-size--phone:      15; // remains constant in design

// font families
$fam-1:                 monospace;
$fam-2:                 monospace;

/**
 * Layout
 */

// gaps
$gap-size:              15;
$px-gap:                $gap-size * 1px;

// gaps in scalable em format
$gap:                   $gap-size/$font-size * 1em;
$gap--big:              $gap*4;
$gap--baby:             $gap*2;

// gaps in rigid em format
$rem-gap:               $gap-size/$font-size * 1rem;
$rem-gap--big:          $rem-gap*4;
$rem-gap--baby:         $rem-gap*2;

// vertical spacing
$gap--margin-top:       (80/$font-size) * 1em;
$gap--padding-top:      (50/$font-size) * 1em;
$gap--padding-bottom:   (50/$font-size) * 1em;
$gap--margin-bottom:    (100/$font-size) * 1em;

$gap--sm-margin-top:    (50/$font-size) * 1em;
$gap--sm-padding-top:   (20/$font-size) * 1em;
$gap--sm-padding-bottom:(20/$font-size) * 1em;
$gap--sm-margin-bottom: (80/$font-size) * 1em;


// horizontal row widths
$row:                   1200px + $px-gap*2; // desired inner width plus padding
$row--baby:             1080px + $px-gap*2; // 1130px overall with 1080px inner when padded
$row--big:              1500px;

/**
 * Breakpoints
 */
// basis
$bp-lg--max:            $row--big; // often $row--big
$bp-md--max:            800px;
$bp-sm--max:            500px;

// min/max/special
$bp-lg--min: $bp-md--max + 1;
$bp-lg--mid: round((($bp-lg--max - $bp-lg--min) / 2) + $bp-lg--min);

$bp-md--min: $bp-sm--max + 1;
$bp-md--mid: round((($bp-md--max - $bp-md--min) / 2) + $bp-md--min);

$bp-sm--min: 320px;
$bp-sm--mid: round((($bp-sm--max - $bp-sm--min) / 2) + $bp-sm--min);

// legacy
$galaxy:        $bp-lg--max;
$solarsystem:   $bp-md--max;
$planetary:     $bp-sm--max;

/**
 * Special
 */
