/**
 * Variables

 * Table of Contents:

 * Colors
 * Text Styling
 * Layout
 * Breakpoints
 */

/**
 * Colors
 *
 * note: spaces in names for sublime
 * color highlighting ignore
 */

// p r i m a r y
$color-1:               aquamarine;
$color-1--light:        lighten($color-1, 15%);
$color-1--dark:         darken($color-1, 15%);

// s e c o n d a r y
$color-2:               teal;
$color-2--light:        lighten($color-2, 15%);
$color-2--dark:         darken($color-2, 15%);

// d r a b
$color-drab:            gray;
$color-drab--light:     lighten($color-drab, 15%);
$color-drab--dark:      darken($color-drab, 15%);

// alert colors
$color-good:            green;
$color-bad:             red;
$color-meh:             yellow;

// standard colors
$color-light:           #fff;
$color-dark:            #000;

/**
 * Text Styling
 */
// global font size (add px before use)
$font-size: 16;

// font families
$fam-1:                 sans-serif;
$fam-2:                 serif;

/**
 * Layout
 */
// gaps and padding
$rem-pad:               30/$font-size * 1rem; // 30px given base font size
$rem-gap:               $rem-pad;
$rem-gap--big:          $rem-gap*4;
$rem-gap--baby:         $rem-gap*2;

// gaps in scalable em format
$pad:                   30/$font-size * 1em; // 30px given base font size
$gap:                   $pad;
$gap--big:              $gap*4;
$gap--baby:             $gap*2;

// horizontal row widths
$row:                   960px;
$row--baby:             1280px;
$row--big:              1440px;

$padding-top:           $gap;
$padding-bottom:        $gap;
$padding-top--big:      $gap--big*2;
$padding-bottom--big:   $gap--big*2;

// vertical spacing
$gap--above:            (70/$font-size) * 1em; // 70px
$gap--above-mobile:     (20/$font-size) * 1em; // 20px
$gap--below:            (150/$font-size) * 1em; // 150px
$gap--below-mobile:     (70/$font-size) * 1em; // 70px

/**
 * Breakpoints
 */
// basis
$bp-lg--max:            $row--big;
$bp-md--max:            800px;
$bp-sm--max:            500px;

// min/max/special
$bp-lg--min: $bp-md--max + 1;
$bp-lg--mid: round((($bp-lg--max - $bp-lg--min) / 2) + $bp-lg--min);

$bp-md--min: $bp-sm--max + 1;
$bp-md--mid: round((($bp-md--max - $bp-md--min) / 2) + $bp-md--min);

$bp-sm--min: 320px;
$bp-sm--mid: round((($bp-sm--max - $bp-sm--min) / 2) + $bp-sm--min);

// legacy
$galaxy:        $bp-lg--max;
$solarsystem:   $bp-md--max;
$planetary:     $bp-sm--max;
