/**
 * Column Module
 *
 * note: judicious use of rounding
 * like 49.9 and 66.5 to fix stubborn
 * Safari rounding errors.
 */
.col {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100vw;
    &.col--center-vert {
        align-items: center;
    }
    &.col--force-height {
        align-items: stretch;
    }
}
// single full column
.col--1 {
    .col__group {
        width: 100%; // default
    }
}
// half/half
.col--2 {
    .col__group {
        width: 50%; // default
        @media (max-width:  $bp-md--max){
            --width: 50% !important; // overrides wordpress-editable inline style
        }
        @media (max-width:  $bp-sm--max){
            --width: 100% !important; // overrides wordpress-editable inline style
            width: 100%;
            &:not(:last-child) {
                padding-bottom: 1.5em;
            }
        }
    }
}
// thirds
.col--3 {
    .col__group {
        width: 33.3333%; // default
        @media (max-width:  1000px){
            --width: 100% !important; // overrides wordpress-editable inline style
            width: 100%;
            &:not(:last-child) {
                padding-bottom: 1.5em;
            }
        }
    }
}
// four or more
.col--grid {
    .col__group {
        display: inline-block;
        width: 25%;
        @media (max-width: $bp-md--max) {
            --width: 50% !important; // overrides wordpress-editable inline style
            width: 50%;
        }
        @media (max-width: $bp-sm--max) {
            --width: 100% !important; // overrides wordpress-editable inline style
            width: 100%;
            &:not(:last-child) {
                padding-bottom: 1.5em;
            }
        }
    }
}
.col__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .col--center-vert & {
        align-items: center;
    }
    .col--force-height & {
        align-items: stretch;
    }
}
.col__group {
    @extend %mod--pad-sides;
    width: 100%;
    .col &[class]:last-child { // for specificity
        margin-bottom: 0;
    }
    // allow for custom override
    &[style^="--width:"] {
        width: var(--width);
    }
}
