/**
 * template-title shared block styling
 *
 * This file gets shared between the
 * theme and editor.
 */

.template-slug {
	& b::after {
		/* replace this demo code with your own: */
		content: " (â’ style.css) ";
	}
}
