/**
 * Password protected page styling
 */
.content-area,
.site-main,
.torso {
	height: 100%;
}
.torso {
	display: flex;
	align-items: center;
	padding-bottom: 5em;
	.post-password-form {
		max-width: 30em;
	}
}
