/**
 * Page layout alignments
 */
/* don't allow default extreme padding merely if has bg color */
.has-background.has-background {
	padding-top: 0;
	padding-bottom: 0;
	/* but keep padding on globally padded elements (note wp's inline padding will override this) */
	&:not(.has-global-padding) {
		padding-left: 0;
		padding-right: 0;
	}
}
