/**
 * Page layout alignments
 */
.alignwide {
	max-width: var(--wp--style--global--wide-size);
	margin-left: auto;
	margin-right: auto;
}
.has-background {
	&.has-background {
		padding-top: 0;
		padding-bottom: 0;
	}
	&:not(.has-global-padding) {
		padding-left: 0;
		padding-right: 0;
	}
}
.has-global-padding :where(.has-global-padding) {
	padding-right: var(--wp--style--root--padding-right);
	padding-left: var(--wp--style--root--padding-left);
	& > .alignfull {
		margin-right: calc(var(--wp--style--root--padding-right) * -1);
		margin-left: calc(var(--wp--style--root--padding-left) * -1);
	}
}
.wp-block-cover__inner-container {
	& > *:not(.alignfull):not(.alignwide) {
		max-width: var(--wp--style--global--content-size);
		margin-left: auto;
		margin-right: auto;
	}
	& > *.alignfull {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}
