/**
 * Page layout alignments
 */
/* don't allow default extreme padding merely if has bg color */
.has-background.has-background {
	padding-top: 0;
	padding-bottom: 0;
	/* but keep padding on globally padded elements (note wp's inline padding will override this) */
	&:not(.has-global-padding) {
		padding-left: 0;
		padding-right: 0;
	}
}

/* pull alignfull elements outside containers that use default left/right padding sizes */
[style*="padding-left:var(--wp--preset--spacing--10)"] {
	--pl: var(--wp--preset--spacing--10);
	& > .alignfull {
		margin-left: calc(-1 * var(--pl));
	}
}
[style*="padding-right:var(--wp--preset--spacing--10)"] {
	--pl: var(--wp--preset--spacing--10);
	& > .alignfull {
		margin-right: calc(-1 * var(--pl));
	}
}
[style*="padding-left:var(--wp--preset--spacing--20)"] {
	--pl: var(--wp--preset--spacing--20);
	& > .alignfull {
		margin-left: calc(-1 * var(--pl));
	}
}
[style*="padding-right:var(--wp--preset--spacing--20)"] {
	--pl: var(--wp--preset--spacing--20);
	& > .alignfull {
		margin-right: calc(-1 * var(--pl));
	}
}
[style*="padding-left:var(--wp--preset--spacing--50)"] {
	--pl: var(--wp--preset--spacing--50);
	& > .alignfull {
		margin-left: calc(-1 * var(--pl));
	}
}
[style*="padding-right:var(--wp--preset--spacing--50)"] {
	--pl: var(--wp--preset--spacing--50);
	& > .alignfull {
		margin-right: calc(-1 * var(--pl));
	}
}
[style*="padding-left:var(--wp--preset--spacing--80)"] {
	--pl: var(--wp--preset--spacing--80);
	& > .alignfull {
		margin-left: calc(-1 * var(--pl));
	}
}
[style*="padding-right:var(--wp--preset--spacing--80)"] {
	--pl: var(--wp--preset--spacing--80);
	& > .alignfull {
		margin-right: calc(-1 * var(--pl));
	}
}
