/**
 * Fonts
 * 
 * Add your fonts within the 
 * `src/fonts` folder and reference
 * them here.
 */

/* @font-face {
	font-family: "Example Font";
	src: url("./fonts/example-font.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */
